# 电池阻抗测试系统云端服务
# Battery Impedance Testing System Cloud Service

Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.7.1
Flask-Migrate==4.1.0
Flask-CORS==6.0.0
python-dotenv==1.1.0
bcrypt==4.3.0
pandas==2.3.0
openpyxl==3.1.5
scikit-learn==1.7.0
joblib==1.5.1
psutil==7.0.0
psycopg2-binary==2.9.10
PyMySQL==1.1.1

